collections:
  research:
    output: true
    permalink: /research/:path/

defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
  - scope:
      path: ""
    values:
      layout: "default"



navbar:
 - name: "Homepage"
   link: ""
 - name: "Me"
   link: "Me.html"
 - name: "Posts"
   link: "posts.html"


plugins:
    - jekyll-feed
    - jekyll-sitemap
    - jekyll-seo-tag
