<section style="
    border-top-style: dotted;
    border-color: #a5a6a9;
    border-width: 2px;
    text-align:left;
    font-size: 12px;
    position:relative;
    bottom:0;
    margin-top: 25px;
    ">


    <div>

        <a  href="https://github.com/izuta-k/izuta-k.github.io">izuta-k.github.io</a>
        <p>© Boran Takak | 2025</p>
        <span>

            <a href="https://www.linkedin.com/in/borantakak/">
                <span>Linkedin</span>

            </a>

            <a style="color:#2677bb;"> | </a>

            <a href="https://www.goodreads.com/izumivondegurechaff">
                <span>Goodreads</span>

            </a>

            <a style="color:#2677bb;"> | </a>

            <a href="https://github.com/izuta-k">
                <span>GitHub</span>

            </a>

        </span>
    </div>
</section>
