
<footer class="site-footer">

  <div class="footer-content">

    <div class="footer-block">

    <h3 style="margin:5px 0px 5px 0px;">Network</h3>

    <ul class="footer-links">
      <li class="list-item"><a href="https://github.com/izuta-k" target="_blank">github</a></li>
      <li class="list-item"><a href="https://www.linkedin.com/in/borantakak/">linkedin</a></li>
      <li class="list-item"><a href="https://www.goodreads.com/user/show/37880444-boran">goodreads</a></li>
    </ul>

    </div>
  </div>


    <div class="footer-copy">
      &copy; 2026 - Made with love and free time
    </div>






</footer>
