<head>
    {% if page.title %}
        {% assign title = page.title | append: " - " | append: site.title %}
        {% assign desc = page.subtitle %}
    {% else %}
        {% assign title = site.title %}
        {% assign desc = site.subtitle %}
    {% endif %}
    {% assign sitedir = site.url | append: site.baseurl | append: "/" %}
    {% assign favicon_location = sitedir | append: site.favicon_location %}

    <title>{{ title }}</title>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ sitedir }}css/main.css">

    <!-- Refining the looks -->
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>
