



:root{
    /* Colors */
    --bg-color: #ebebd3;
    --text-main: #3c3c3b;
    --text-muted: #555555;
    --accent: #db3069;

    /* Typography */
    --font-sans: system-ui, --apple-system, sans-serif;
    --font-serif: Georgia, "Times New Roman", serif;

    /* Layout */
    --content-width: 65ch;


}
